:root {
    --backgroundColor: white;
    --fontColor: black;
    --buttonColor: white;
    --buttonFont: black;
    --hoverColor: rgb(9, 246, 9);
}

body {
    background: var(--backgroundColor);
    color: var(--fontColor);
    margin: 10px;
}

main {
    position: relative;
}

button {
    background: var(--buttonColor);
    color: var(--buttonFont);
    font-size: 25px;
    border-radius: 5px;
}

button:hover, #submit:hover {
    background: var(--hoverColor);
    color: var(--fontColor);
    cursor: pointer;
}


/* header */
header {
    margin: 60px 60px 30px 120px;
    font-size: 25px;
}

#scores {
    margin-left: 20px;
    text-decoration: none;
    color: var(--fontColor);
}

#time {
    float: right;
    margin-right: 100px;
    font-weight: bold;
}

/* main sections */
#begin, .question, #results, #high-scores {
    position: absolute;
    left: 20px;
    right: 20px;
    margin: 50px auto;
    justify-content: center;
    text-align: center;
    width: auto;
}

h1 {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

h2 {
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    margin: 20px 5px 20px 0;
    opacity: 0.8;
    font-style: italic;
}

hr {
    margin-top: 50px;
    width: 70%;
}


/* begin section */
#begin p {
    width: 65%;
    margin: 30px auto;
    font-size: 25px;
    line-height: 1.5;
}

#start {
    margin-top: 5px;
    padding: 10px;
    color: var(--backgroundColor);
    background-color: var(--fontColor);
}


/* questions */
[data-state="hidden"] {
    display: none;
}

.one, .two, .three, .four, .five, .six, .seven {
    display: block;
    text-align: left;
    width: 30%;
    margin: 10px auto;
    padding: 10px 5px;
    color: var(--backgroundColor);
    background-color: var(--fontColor);
}


/* results section */
form {
    display: inline-flex;
}

h4 {
    font-size: 25px;
    margin: 20px 5px 20px 0;
}

#initials {
    font-size: 25px;
    margin: auto 10px;
    padding: 5px 10px;
    border: 2px solid var(--backgroundColor);
    color: #0c0c0c;
}

#submit {
    font-size: 20px;
    margin: auto 10px;
    padding: 5px;
    border-radius: 5px;
    background: var(--fontColor);
    color: var(--backgroundColor);
}